<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <title></title>
</head>
<body>












<!--  type="text/template" prevent the script to be interpreted as javascript -->
<script id="personTemplate" type="text/template">
  <strong><%= name %></strong> (<%= age %>) - <%= occupation %>
</script>


<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="js/main.js"></script>
</body>
</html>