#app
  .row
    ul#breadcrumbs

  .row
    #database-list.span12

script(type="application/javascript", src="/javascripts/congo/index.js")
script(type="application/javascript", src="/javascripts/congo/nav.js")
script(type="application/javascript", src="/javascripts/congo/database.js")

script
  $(function(){
    Congo.init();
  });